.about {
    grid-column: col-start / col-end;
    grid-row: section-start 1 / section-end 1;
    align-self: center;

    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 40% [header-end body-start] 60% [body-end];
    grid-row-gap: 2vw;
    justify-content: center;

    padding: 5vw 0px 5vw 0px;
    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__header {
        grid-column: col-start / col-end;
        grid-row: header-start / header-end;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width:90%;
        text-align: center;

    
        @include ResponsiveMobileFirst(tab-port) {
            width: 70%;         
        }

    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 100%;
        grid-column-gap: 5vw;
        margin: 0px 10vw;
        //width: 90%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: repeat(4, minmax(min-content, 1fr));   
            grid-column-gap: 3.5vw;
            margin: 0px 3.5vw;  
        }
    }
}


.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0px;


    &__svg {
        fill: var(--primary-color);
        height: 10rem;
        width: 20%;
        align-self: center;
        @include ResponsiveMobileFirst(tab-port) {
            width: 25%;    
        }
    }
}
