.about {
    grid-column: col-start / col-end;
    grid-row: section-start 1 / section-end 1;
    align-self: center;

    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 40% [header-end body-start] 60% [body-end];
    grid-row-gap: 2rem;
    justify-content: center;
    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__header {
        grid-column: col-start / col-end;
        grid-row: header-start / header-end;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width:90%;

    
        @include ResponsiveMobileFirst(tab-port) {
            width: 70%;         
        }

    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 100%;
        grid-column-gap: 2vw;
        margin:0px 4vw;
        //width: 90%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: repeat(4, minmax(min-content, 1fr));     
        }
    }
}

.horizontal-line {
    background-color: var(--primary-color);
    width: 15%;
    height: 3px;
    border-radius: 15px;
    margin: 2vw 0px 4vw 0px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    &__svg {
        fill: var(--primary-color);
        height: 10rem;
        width: 35%;
        align-self: center;
    }
}
