.cities {
    grid-column: col-start / col-end;
    grid-row: section-start 4 / section-end 4;
    align-self: center;

    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 20% [header-end body-start] min-content [body-end];
    grid-row-gap: 2rem;
    justify-content: center;

    padding: 5vw 0px 7vw 0px;

    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 100%;
        grid-column-gap: 3.5vw;
        padding: 0px 3.5vw;
        justify-items: center;
        justify-content: center;
        width: 70%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: repeat(4, minmax(min-content, 1fr));     width: 100%;
        }
    }
}

.cityitem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem 0;

    &__figure {
        width: 100%;
        &--image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__detail {

            display: flex;
            align-items: center;
            height: 2.5rem;
            width: 100%;
            padding: 1.5vw 0px;

        &--svg {
            fill: var(--primary-color);
            width: 10%;
            justify-self: center;
            margin-right: 1rem;
            @include ResponsiveMobileFirst(tab-port) {
                //width: 3rem;    
            }
        }
    }
}