.footer {
    grid-column: col-start / col-end;
    grid-row: footer-start / footer-end;
    align-self: center;

    background-color: var(--background-color);

    display: grid;
    grid-template-columns: [col-start] 50% [col-mid] 50% [col-end];
    grid-template-rows: [options-start] 50% [options-end media-start] 50% [media-end];
    grid-row-gap: 2rem;
    justify-items: center;

    padding: 3vw 0px;
    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__options {
        grid-column: col-start / col-end;
        grid-row: options-start / options-end;

        display:grid;
        grid-template-columns: repeat(5, max-content); 
        grid-column-gap: 1vw;
        justify-items: center;
        

        &--item {
            transition: all .3s;
            padding: 0px 1vw;
            color: gray;
            &:hover {
                color:var(--white);
                transform: scale(1.1);
            }
        }
    }

    &__media {
        grid-column: col-start / col-end;
        grid-row: media-start / media-end;

        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-column-gap: 1.5vw;
        justify-content: center;
        justify-items: center;
        align-items: start;
        fill: var(--font-color-grey);

        &--icon-1,
        &--icon-2,
        &--icon-3,
        &--icon-4 {   
            height: 3rem;
            width: 3rem;
            transition: fill .3s;
            fill: gray;
        }

        &--icon-1:hover {fill:var(--facebook-color);}
        &--icon-2:hover {fill:var(--twitter-color);}
        &--icon-3:hover {fill:var(--google-color);}
        &--icon-4:hover {fill:var(--instagram-color);}


    }
}