.form {
    grid-column: col-start / col-end;
    grid-row: section-start 7 / section-end 7;
    align-self: center;


    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 20% [header-end body-start] 80% [body-end];
    //grid-row-gap: 2rem;
    justify-content: center;

    padding: 5vw 0px 7vw 0px;
    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 100%;
        grid-column-gap: 5vw;
        grid-row-gap: 2vw;
        padding: 2rem 0px;;
        //margin: 0px 5vw;
        justify-content: center;
        width: 70%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: [label-start] 30% [label-end input-start] 70% [input-end];   
        }


        &--label,
        &--input,
        &--check {
            font-size: calc(1.4rem + .533vw);
            font-weight: 300;
            color:var(--font-color);
            line-height: 2rem;
            padding: .5rem 0px;
    
            @include ResponsiveMobileFirst(tab) {
                         
            }
            @include ResponsiveMobileFirst(tab-port) {
                // 1.75 rem - 2.4 rem
                font-size: calc(1.1rem + .72vw);   
                 
            }
            @include ResponsiveMobileFirst(desktop) {
                            
            }
            @include ResponsiveMobileFirst(big-desktop) {
                font-size: 2.4rem;            
            }
        }

        &--input {
            border-radius: 3px;
            border: 1px solid var(--font-color-light);   
            color: var(--font-color);
            font-family: inherit;

            &:focus {
                outline: none;
            }
           
        }


        &--button {
            grid-column: 1  / -1;
            justify-self: center;
        }
    }

}



