.header {

    grid-column: col-start / col-end;
    grid-row: header-start / header-end;

    background-image: linear-gradient(var(--dark), var(--dark)), url("../assets/images/hero.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: [col-start] 5% [col-mid-1] 90% [col-mid-2] 5% [col-end];
    grid-template-rows: [nav-start] 15% [nav-end body-start] 85% [body-end];

    &__container {

        grid-column: col-mid-1 / col-mid-2;
        grid-row: nav-start / body-end;
        justify-self: start;
        align-self: center;
        

        &--heading {
            color: white;
            font-size: 5.5rem;
            text-transform: uppercase;
        }
    }

}
