.header {

    grid-column: col-start / col-end;
    grid-row: header-start / header-end;

    background-image: linear-gradient(var(--dark), var(--dark)), url("../assets/images/hero.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: [col-start] 5% [col-mid-1] 90% [col-mid-2] 5% [col-end];
    grid-template-rows: [nav-start] 15% [nav-end body-start] 85% [body-end];

    &__container {

        grid-column: col-mid-1 / col-mid-2;
        grid-row: nav-start / body-end;
        justify-self: start;
        align-self: center;
        

        &--heading {
            color: white;
            font-size: 5.5rem;
            text-transform: uppercase;
        }
    }

    &__nav {
        grid-column: col-mid-1 / col-mid-2;
        grid-row: nav-start / nav-end;

        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
        @include ResponsiveMobileFirst(tab-port) {
            width: 60%;
            margin-left: auto;
        }
        
        &__item {
            flex-basis: auto;
            flex-grow: 0;
            text-transform: uppercase;
            padding: 0px .5rem;
            //border: 3px solid white;
        }

        &__link {
            &:link,
            &:visited {
                text-decoration: none;
                color: white;
            }

            &:hover,
            &:active {
                border-bottom: 2px solid var(--primary-color)
            }
    
        }
    }

}
