.nav {
    display: block;
    // opacity: 0;
    // z-index: -2;
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: 0 2px 2px #efefef;
    padding: 0px 5%;


    &__inner {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        @include ResponsiveMobileFirst(tab-port) {
            width: 60%;
            margin-left: auto;
        }

        &--item {
            flex-basis: auto;
            flex-grow: 0;
            text-transform: uppercase;
            padding: 0px .5rem;
            color: var(--font-color);
            //border: 3px solid white;

            &:hover {
                border-bottom: 2px solid var(--primary-color);
                cursor: pointer;
            }
        }
    }
}

