.plans {
    grid-column: col-start / col-end;
    grid-row: plans-start / plans-end;
    align-self: center;

    background-color: #f4f4f4;

    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 20% [header-end body-start] 80% [body-end];
    //grid-row-gap: 2rem;
    justify-content: center;

    padding: 5vw 0px 7vw 0px;
    @include ResponsiveMobileFirst(tab-port) {
       
    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 75%;
        grid-column-gap: 5vw;
        margin: 0px 5vw;
        justify-content: center;
        //width: 90%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: repeat(3, minmax(min-content, 1fr));     
        }
    }
}

.planitem {

    background-color: white;
    margin: 2rem 0px;

    &__header {
        padding: 1rem 2rem;
        border-bottom: 1px solid var(--font-color-light);

        display: grid;
        grid-gap: 2vw; 
    }

    &__body {
        display: grid;
        grid-template-columns: [col-start] 20% [col-mid] 80% [col-end];
        grid-template-rows: repeat(4, min-content);
        align-items: center;
        grid-row-gap: 1vw;
        padding: 1.5vw 0px;
        border-bottom: 1px solid var(--font-color-light);
        

        &--svg,
        &--svg-x {
            grid-column: col-start / col-mid;
            width: 100%;
            height: 2.5rem;
            justify-self: center;
            fill: var(--primary-color);

        }

        &--svg-x {
            fill: transparent;
            stroke: var(--primary-color);
            stroke-width: 1;
        }

    }

    &__button {
        display: flex;
        justify-content: center;
        padding: .7rem 0px;
    }

}