.testimonials {
    grid-column: col-start / col-end;
    grid-row: testimonials-start / testimonials-end;
    align-self: center;

    background-image: linear-gradient(var(--dark), var(--dark)), url("../assets/images/back-customers.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 10% [header-end body-start] 90% [body-end];
    //grid-row-gap: 2rem;
    justify-content: center;

    padding: 5vw 0px 7vw 0px;
    @include ResponsiveMobileFirst(tab-port) {
        grid-template-rows: [header-start] 30% [header-end body-start] 70% [body-end];
    }

    &__body {
        grid-column: col-start / col-end;
        grid-row: body-start / body-end;
        justify-self: center;

        display:grid;
        grid-template-columns: 100%;
        grid-column-gap: 5vw;
        margin: 0px 5vw;
        //width: 90%;

        @include ResponsiveMobileFirst(tab-port) {
            grid-template-columns: repeat(3, minmax(min-content, 1fr));     
        }
    }
}

.quotes {
    justify-self: center;
    
    display: grid;
    grid-template-columns: [col-start] 25% [col-mid] 75% [col-end];
    grid-template-rows: [text-start] 70% [text-end people-start] 30% [people-end] ; //repea(2, [row-start] min-content [row-end]);
    align-items: center;
    width: 90%;
    padding: 1rem 0px;;

    &__text {
        grid-column: col-start / col-end;
        grid-row: text-start / text-end;
        font-style: italic;
        //margin-left: 1rem;

        &::before {
            content: "\201C";
            display: block;
            font-size: 4rem;
            line-height: 2rem;
            margin-left: -1rem;
        }

        &::after {
            content: "\201D";
            display: block;
            font-size: 4rem;
            line-height: 2rem;
            text-align: right;
        }
        
    }

    &__image {
        grid-column: col-start / col-mid;
        grid-row: people-start / people-end;
        width: 60%;
        border-radius: 50%;
        justify-self: center;
        margin: 1rem 0px;
    }

    &__name {
        grid-column: col-mid / col-end;
        grid-row: people-start / people-end;
    }

}

