.heading-primary {

    &--light,
    &--dark,
    &--color {
        font-size: calc(.4rem + 4vw);
        text-transform: uppercase;
        font-weight: 300;
        word-spacing: 4px;
        letter-spacing: 1px;

        @include ResponsiveMobileFirst(tab) {
            font-size: calc(1rem + 3.6vw);            
        }
        @include ResponsiveMobileFirst(tab-port) {
            font-size: calc(1.5rem + 3.2vw);            
        }
        @include ResponsiveMobileFirst(desktop) {
            font-size: calc(1.8rem + 3vw);           
        }
        @include ResponsiveMobileFirst(big-desktop) {
            font-size: calc(2rem + 2.8vw);             
        }
    }

    &--light { color: white;}
    &--dark { color:var(--font-color);}
    &--color {color: var( --primary-color);}

}

.heading-secondary {

    &--light,
    &--dark,
    &--color {
        //font-size: calc(.3rem + 3.5vw);
        font-size: calc(.7rem + 2.33vw);
        text-transform: uppercase;
        font-weight: 300;
        word-spacing: 2px;
        letter-spacing: 1px;
        //margin: 4vw 0px 2vw 0px;

        

        @include ResponsiveMobileFirst(tab) {
            //font-size: calc(.6rem + 3vw);           
        }
        @include ResponsiveMobileFirst(tab-port) {
            //font-size: calc(1rem + 2.7vw);  
            font-size: calc(2rem + .88vw);           
        }
        @include ResponsiveMobileFirst(desktop) {
            //font-size: calc(1.4rem + 2.4vw);               
        }
        @include ResponsiveMobileFirst(big-desktop) {
            font-size: 3.6rem;            
        }
    }

    &--light { color: white;}
    &--dark { color:var(--font-color);}
    &--color {color: var( --primary-color);}
}

.heading-tertiary {

    &--light,
    &--dark,
    &--noUpper {
        // 1.56 rem - 1.88 rem
        font-size: calc(1.4rem + .533vw);
        text-transform: uppercase;
        font-weight: 300;
        margin: 1rem 0px;

        @include ResponsiveMobileFirst(tab) {
                     
        }
        @include ResponsiveMobileFirst(tab-port) {
            // 1.75 rem - 2.4 rem
            font-size: calc(1.1rem + .72vw);   
             
        }
        @include ResponsiveMobileFirst(desktop) {
                        
        }
        @include ResponsiveMobileFirst(big-desktop) {
            font-size: 2.4rem;            
        }
    }

    &--light { color: white;}
    &--dark { color:var(--font-color);}
    &--noUpper {
        color: var(--font-color);
        text-transform: none;}
}

.paragraph {

    &--light,
    &--dark,
    &--color {
        font-size:  calc(1.2rem + .67vw);
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 2rem;

        @include ResponsiveMobileFirst(tab) {
                       
        }
        @include ResponsiveMobileFirst(tab-port) {
            font-size:  calc(1rem + .67vw);          
        }
        @include ResponsiveMobileFirst(desktop) {
            font-size:  calc(1.4rem + .33vw);           
        }
        @include ResponsiveMobileFirst(big-desktop) {
            font-size: 2rem;           
        }        
    }

    &--light { color: white;}
    &--dark { color:var(--font-color);}
    &--color {color: var( --primary-color);}

}
