:root{
   --white: rgb(255, 255, 255);
   --black: rgb(0,0,0);
   --dark: rgba(0,0,0,.7);

   --primary-color: #e67e22;
   --primary-color-dark: #cf6d17;

   --background-color: #333;

   --font-color: #555;
   --font-color-light : #e8e8e8;
   --font-color-grey : #ccc;

   --facebook-color: #3B5998;
   --twitter-color: #1DA1F2;
   --google-color: #DB4437;
   --instagram-color:  #262626;

}