.container {
    display: grid;
    grid-template-columns: [col-start] 100% [col-end];
    grid-template-rows: [header-start] 100vh [header-end about-start] minmax(600px, auto) [about-end food-start] auto [food-end works-start] auto [works-end cities-start] minmax(150px, auto) [cities-end testimonials-start] minmax(300px, max-content) [testimonials-end plans-start] minmax(150px, auto) [plans-end form-start] minmax(150px, auto) [form-end footer-start] minmax(150px, auto) [footer-end]; 
}



